<% if (@preview) %>
<div id="preview_control">
             <h2>This is a preview.</h2>
</div>

 <% end %>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').css('background-image', 'url(../images/upload_images/<%= @user.background_pic %>)');
        $('body').css('background-size', 'cover');
        $('body').css('background-repeat', 'no-repeat');
        $('body').css('color', '#fff');

        $('#wrapper').css('background-color', 'rgba(0, 0, 0, 0.6)');


    });
</script>

<img src='../images/upload_images/<%= @user.profile_pic      %>'/>

<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @user.profile_pic %>
</p>

<p>
  <strong>Background pic:</strong>
  <%= @user.background_pic %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
