<!DOCTYPE html>
<html>
<head>
  <title>Instacap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
<div id="main">
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <%= link_to  image_tag('logo.png'),:controller => 'index', :action => :welcome %>

    </div> <!-- End Logo -->

    <div id="login-box">
      <form>
        <input type="text" name="username" value="" />
        <input type="password" name="password" value="" />
        <input type="submit" name="submit" value="Sign In" />
      </form>
    </div>
  </div><!-- End header -->

  <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path  %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    <% else %>
        <%= link_to "Sign up", new_user_path  %> |
        <%= link_to "Login",:controller => 'devise/sessions', :action => 'new' %>
    <% end %>

    <%= yield %>
  </div><!-- end content -->

  <div id="footer">
    <h6 align="center"> (C) Harsh Alkutkar 2013 </h6>

    <h6 align="center"> All Rights Reserved. </h6>
  </div><!-- end footer -->
</div><!-- End wrapper -->

</div>
</body>
</html>
